@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background-color: '#000';
  padding: '0px';
  
}

/* table{
  width: 100%;
  border-collapse: collapse;
  margin-top: '20px';
}

th, td{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th{
  background-color: rgba(206, 255, 165, 1.0);
} */

h1 {
  font-size: 2rem;
}
